{% extends 'base.html' %}

{% block title %}Inventory List{% endblock title %}

{% block content %}
  <h1>Inventory List</h1>
  <h4><a href="{% url 'product_new' %}"> + Add product</a></h4>

  <table class="table">
    <thead class="thead-dark">

    <tr>
      <th scope="col">Product</th>
      <th scope="col">Qty</th>
      <th scope="col">Price</th>
      <th scope="col">$ Value</th>
      <th scope="col">Actions</th>
    </tr>
      </thead>
    {% for product in object_list %}
    <tr>
      <td><a href="{% url 'product_detail' product.pk %}">{{ product.name }}</a></td>
      <td>{{ product.quantity }}</td>
      <td>{{ product.get_price }}</td>
      <td>{{ product.inventory_value }}</td>
      <td><a href="{% url 'inventory_add' product.pk %}">Add</a> /
        <a href="{% url 'inventory_remove' product.pk%}">Subtract</a> /
        <a href="{% url 'product_delete' product.pk %}">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </table>

{% endblock content %}
